@mixin no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                            supported by Chrome and Opera */
}

/**
* Inspired by http://www.toolinfy.com/some-flat-buttons-with-html-css
*/
@mixin round-button {

    text-align:center;
    text-decoration: none;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    padding: 3px 10px;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-width: 2px;
    outline:none;
    -webkit-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
