$menu-color-1:#A5C15B;
$menu-color-2:#7DC24F;
$form-blue-1:#8CE9FF;
$form-blue-2:#17A5A5;
$form-blue-3:#B4EFFD;
$form-blue-4:#C9F3FC;
$form-border-grey-1:#C0C0C0;
$form-border-grey-2:#000000;

$success-green:#7DCE67;
$error-red:#ff0033;
$invalid-red:#FFCCCC;

$form-status-font:"Bahnschrift Condensed";
$form-error-font:"Bahnschrift Condensed";
$form-border-width:2px;

$header-gradient-1:#B2B2B2;
$header-gradient-2:#E3E3E3;

$menu-height: 50px;
$menu-font:"Segoe UI Semibold";

$form-button-font:"Segoe UI";

$header1-font:"Bahnschrift";
$header2-font:$header1-font;
$header3-font:$header1-font;
$header1-font-weight:600;//Semi-bold
$header2-font-weight:400;//Semi-bold
$header3-font-weight:500;//Semi-bold

$header1-font-color:#353836;
$header2-font-color:$header1-font-color;
$header3-font-color:$header1-font-color;

$header-logo-width: 200px;
$header-logo-margin-left: 20px;
$header-logo-margin-top: 10px;
