@import './variables';
@import './mixins';

.ee-form {
  background-color: $form-blue-4;
  padding-top: 10px;
  padding-bottom: 8px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 8px;
  border-color: $form-blue-4;
  border-width: 2px;
  border-style: solid;
}

.ee-form span {
  font-size: 12px;
  color: $error-red;
  margin-left: 5px;
  font-family: $form-error-font;
}

.ee-form-load-fail h2 {
  font-family: $header2-font;
  margin-left: 10px;
}
.ee-form-load-fail p {
  font-family:  $form-error-font;
  margin-left: 10px;
}

.ee-form-load-fail
/**
* Taken from https://stackoverflow.com/questions/11679567/using-css-for-fade-in-effect-on-page-load
*/
.ee-visible-fadein {
  visibility: visible;
  opacity: 1;
  //transition: visible 0.3s opacity 0.3s linear;

    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;

}

.ee-visible-fadein {
  -webkit-animation: ee-fadein 0.3s;
  -moz-animation: ee-fadein 0.3s;
  -ms-animation: ee-fadein 0.3s;
  -o-animation: ee-fadein 0.3s;
  animation: ee-fadein 0.3s;
}

@keyframes ee-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes ee-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes ee-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes ee-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes ee-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.ee-hidden {
  opacity: 0;
  visibility: hidden;
}

.ee-invalid-alert {
  background-color: $invalid-red;
}

.ee-form label {
  font-family: "Segoe UI";
  display: block;
  margin-left: 5px;
}

.ee-form input, select {
  margin-left: 5px;
  margin-right: 5px;
  border-color: $form-border-grey-1;
  border-radius: 4px;
  border-style: solid;
  font-family: "Segoe UI";
  width: 92%;
  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
  padding: 3px 5px 3px 5px;
}

.ee-form button {
  @include round-button;
  float: right;
  margin: 0px 10px 10px 10px;

  font-family: $form-button-font;
  color: $error-red;
  background: #D6D6D6;
  border-width: 1px;
  box-sizing: border-box;
  /*border-color: $form-border-grey-1;*/
  position: inline;
}

.ee-form button:hover {
  background: #C6C6C6;
}

.ee-form-adder {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  height: 100%;
}


.ee-form-manager {
  max-width: 100%;

  border-bottom: 2px solid;
  border-color:$form-border-grey-2;/*
  border-left:$form-border-width;
  border-right: $form-border-width;
  border-bottom: $form-border-width;
  border-color: $form-border-grey-2;
  border-style: solid;*/
}

.ee-form-manager h2 {

  font-family: $header2-font;
  font-weight: $header2-font-weight;
  color: $header2-font-color;
  text-transform: uppercase;
  display: block;
  margin: 0 0 0 10px;
  padding: 10px 0 0 0;
}

/**
* Inspired by http://www.toolinfy.com/some-flat-buttons-with-html-css
*/
.ee-form-manager button {
  margin: 10px 10px 10px 10px;

  font-family: $form-button-font;
  color: $form-blue-2;
  background: $form-blue-3;
  border-color: $form-blue-1;
  @include round-button;
}

.ee-form-manager button:last-child {
  float: right;
  display: inline;
}

.ee-form-manager button:hover {
  background: #55DDFC;
}

.ee-form-manager img {
  padding-top: 2px;
  height: 16px;
}

.ee-form-manager span {
  font-family: $form-status-font;
  text-align: bottom;
  font-size: 16px;
  display: inline-block;
  margin: 10px 0 0 0;
  padding: 0;
}

.ee-form-status-success {
  color: $success-green;
}

.ee-form-status-success {
  color: $error-red;
}

.ee-form-list {
  list-style: none;
  padding-left: 10px;
  margin: 0px 0px 10px 0px;
  height: 100%;
  overflow: hidden;
  /*position: absolute;*/
  overflow-y: auto;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  /*border-top: 0;
  border-left:$form-border-width;
  border-right: $form-border-width;
  border-bottom: $form-border-width;
  border-color: $form-border-grey-2;
  border-style: solid;*/
}


.ee-form-list h3 {
  font-family: $header3-font;
  font-weight: $header3-font-weight;
  color: $header3-font-color;
  margin: 0 0 0 5px;
  text-decoration: underline;
  text-underline-position: 5px;
}
