/* You can add global styles to this file, and also import other style files */
@import './variables';
@import './mixins';
@import './ee-forms.scss';

html, body {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  display: flex;
  flex-flow: column;
}
