@import '../../../sass/mixins';
@import '../../../sass/variables';

div {
  background:url("../../../assets/gradient.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:100%;
  height: 90px;
  flex: 0 1 auto;

  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

img {
  margin-left: $header-logo-margin-left;
  margin-top: $header-logo-margin-top;
  width: $header-logo-width;
}

h1 {

  @include no-select;

	font-family: $header1-font;
  font-weight: $header1-font-weight;
  color: $header1-font-color;
	font-size:150%;
  text-align: center;
  line-height: 20px;
  width: 100%;
  margin: 0;
}

@media screen and (max-width: 610px) {
  h1 {

    line-height: 20px;
  }
}
