<ul>
  <li *ngFor="let item of _items" (click)="updateActiveItem(item)" [ngClass]="{'active': item==_activeItem}">
    <a >{{item.name}}</a>
  </li>
  <!--li><a routerLink="add-dsu">Add DSU</a></li>
  <li [ngClass]="{'active': active}"><a routerLink="add-site" >Add Site</a></li-->
</ul>
