@import '../../../sass/mixins';
@import '../../../sass/variables';

ul {
  list-style: none;
  display: flex;
  background-color:$menu-color-1;
  text-align: center;
  width: 100%;
  margin: 0px;
  height: $menu-height;
  padding: 0px;
}

li {
  width: 100%;
  height: 100%;
}

a {
  line-height: $menu-height;
  display: block;
  vertical-align: middle;
  @include no-select;
  text-decoration: none;
  color:#f2f2f2;
  text-transform: uppercase;
  font-family: $menu-font;
  letter-spacing: 2px;
}


ul .active  {
  background-color: $menu-color-2;
}

li :hover {
  background-color: $menu-color-2;
}
