<div *ngIf="!_allowSaving" class="ee-form-load-fail">
  <h2>We have a problem</h2>
  <p>{{_errorMessage}}</p>
</div>
<div *ngIf="_loading" class="ee-form-load-fail">
  <h2>Loading . . .</h2>
</div>
<div *ngIf="_allowSaving && !_loading" class="ee-form-adder">
  <div class="ee-form-manager">
    <h2>Add site</h2>
    <button (click)="addNewSite()"><img src="/assets/add.png"/></button>
    <button (click)="saveCurrentSites()">Save all</button>

    <span [ngClass]="{'ee-visible-fadein':_statusMessage != 'none',
                      'ee-hidden':_statusMessage == 'none'}">{{_statusMessage}}</span>
    <button (click)="clearCurrentSites()">Clear all</button>
  </div>
  <ul class="ee-form-list">
    <li *ngFor="let site of _currentSites">
      <form class="ee-form" novalidate>
        <div>
          <button type="button" tabindex="-1" *ngIf="_currentSites.length > 1" [disabled]="_saving" (click)="remove(site)">X</button>
          <h3>Site Form</h3>
        </div>
        <span [ngClass]="{'ee-visible-fadein':site.errorMessage != 'none',
                          'ee-hidden':site.errorMessage == 'none'}">{{site.errorMessage}}</span>

        <label for="name">Name (max 10 chars, required)</label>
        <input [ngClass]="{'ee-invalid-alert': (!name.valid && name.touched)}" [disabled]="_saving" required maxlength="10" id="name" name="name" type="text" [(ngModel)]="site.name" #name="ngModel"/>

        <label for="description">Description (max 20 chars, required)</label>
        <input [ngClass]="{'ee-invalid-alert': (!desc.valid && desc.touched)}" [disabled]="_saving" required maxlength="20" id="description" name="description" type="text" [(ngModel)]="site.description" #desc="ngModel"/>

        <label for="dsu">DSU (required)</label>
        <select [ngClass]="{'ee-invalid-alert': (!dsu.valid && dsu.touched)}" [disabled]="_saving" id="dsu" required [(ngModel)]="site.dsu_id" name="dsu" #dsu="ngModel">
          <option disabled selected value="-1">- Please select -</option>
          <option *ngFor="let dsu of _storedDsus" [value]="dsu.id">{{dsu.name}}</option>
        </select>
      </form>
    </li>
  </ul>
</div>
