<div class="ee-home">
  <h2>
    Welcome to my front end app!
  </h2>

  <p>
    This is Kevin Beirne's submission for the front end development challenge. The source code for this can be found <a href="https://bitbucket.org/kevinburn/ee-dsu-manager">here</a>
  </p>
  <p>I built this application using Angular using Typescript and the back-end development in vanilla javascript to show you a wider range of my skills. I hope you find it interesting</p>
  <p>Instructions for building the application and navigating the code can be found on the README.md of the source code</p>

  <h3>Technology</h3>
  <ul>
    <li>This app was built using Angular 6 and written in typescript</li>
    <li>This app uses SASS</li>
    <li>This app can be built with npm</li>
    <li>This app will work on any browser supporting ES6 (Angular can be polyfilled to work with older browser versions if necessary)</li>
    <li>This app works on any screen size above 300pixels wide</li>
  </ul>

  <h3>Additional Assumptions</h3>
  <ul>
    <li>
      This application is not meant to display results after they've been added via the Rest API
    </li>
    <li>
      The user must manually save their forms
    </li>
  </ul>

</div>
