<div class="ee-form-adder">
  <div class="ee-form-manager">
    <h2>Add DSU</h2>
    <button (click)="addNewDsu()"><img src="/assets/add.png"/></button>
    <button (click)="saveCurrentDsus()">Save all</button>

    <span [ngClass]="{'ee-visible-fadein':_statusMessage != 'none',
                      'ee-hidden':_statusMessage == 'none'}">{{_statusMessage}}</span>
    <button (click)="clearCurrentDsus()">Clear all</button>
  </div>
  <ul class="ee-form-list">
    <li *ngFor="let dsu of _currentDsus">
      <form class="ee-form" novalidate>
        <div>
          <button type="button" tabindex="-1" *ngIf="_currentDsus.length > 1" [disabled]="_saving" (click)="remove(dsu)">X</button>
          <h3>DSU Form</h3>
        </div>
        <span [ngClass]="{'ee-visible-fadein':dsu.errorMessage != 'none',
                          'ee-hidden':dsu.errorMessage == 'none'}">{{dsu.errorMessage}}</span>
        <label for="name">Name (max 10 chars, required)</label>
        <input [ngClass]="{'ee-invalid-alert': (!name.valid && name.touched)}" required maxlength="10" id="name" name="name" type="text" [(ngModel)]="dsu.name" #name="ngModel"/>

        <label for="description">Description (max 20 chars, required)</label>
        <input [ngClass]="{'ee-invalid-alert': (!desc.valid && desc.touched)}" required maxlength="20" id="description" name="description" type="text" [(ngModel)]="dsu.description" #desc="ngModel"/>

        <label for="cert">Operation Cert</label>
        <input id="cert" name="cert" type="number" min="0" [(ngModel)]="dsu.cert"/>

      </form>
    </li>
  </ul>
</div>
